// index.jade
// CaseNode default homepage
// Copyright(c)2015 Oliver Low
// VERSION 0.1.1
// Revision history: 
// 0.1.1 03-09-2015 incept
extends layout

block content
  .jumbotron
    h1 Welcome to CaseNode
    p.lead CaseNode is a case management system for anyone working with cases, in particular lawyers. 
    p
      a.btn.btn-primary.btn-large(href='#') Learn more &raquo;
  .row
    .col-md-4
      h2 Why use CaseNode?
      p CaseNode makes working with cases as easy as possible. 
      ul
        li Manage workflow and deadlines
        li Simplify time recording
        li Automate tasks
        li Store and find documents
        li Auto-filing of scanned documents and emails
        li Case tracker portal for clients to use
      p
        a.btn.btn-default(href='#') Learn more &raquo;
    .col-md-4
      h2 Integrate / Communicate
      p Integrate with service partners and collaborators
      p Integrate with 3rd party service providers
      p Communicate with clients, service users, other agencies and more...
      p
        a.btn.btn-default(href='') Learn more &raquo;

//EOF index.jade